<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Login</title>
<link rel="stylesheet" href="{{url_for('static', filename = 'app.css') }}" media="screen">
<link rel="icon" type="jpeg" href="{{url_for('static', filename = 'images/trivia_lo1.jpeg') }}">
<style>
    input{
    border: none;
    width: 100%;
    border-bottom: 1px solid lightgray;
    background-color: #FBFBFB;
    position:relative;
    top: -10px;
    padding: 5px;
}
input:focus {
    outline: none !important;
    border-bottom: 1px solid rgb(50, 155, 203);
    font-size: 14px;
    font-weight: bold;
}
</style>
</head>

<body>

  {% with messages = get_flashed_messages() %}
	  {% if messages %}
		{% for message in messages %}
		<div class="alert" style="color:white; font-size:50px">
		  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			<p align="center">{{ message }}</p>
		</div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
	  {% if info %}
	  <div class="alert" style="color:white; font-size:50px">
		  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			<p align="center">{{ info }}</p>
		</div>
	  {% endif %}

      <div class="container" style="color:#FBFBFB">
        <!-- Left section of signup form -->
        <dive>
            <b><h1 style="color: rgb(17, 18, 18); text-align: center;">Log In</h1></b>
            <h2>Welcome to Treasure Hunt</h2>
            <form action="{{url_for('login')}}" method="post">
             
             <div>
                <p><label for="email">Email Address</label></p>
                <input type="email" id="PEmail" name="email" required autocomplete="off">
             </div>
             
             <div>
			<p><label for="pwd">Password</label></p>
			<input type="password" name="pwd" required>
			</div>
             <br>
             <br>
             <div class="row">
             <input type="submit" name="Log In" style="margin: 0 auto">
             </div>
             <p style="text-align: center;">Not a User? <a href="/signup">Sign Up</a></p>
            </form>
        </dive>
        
        <!-- Right section of the form containing image -->
    </div>
</body>
</html>
